In [3]:
#assign ment to calculate permutation and combination of below list
from itertools import permutations

items = ['a', 'b', 'c']
for p in permutations(items):
    print(p)

('a', 'b', 'c')
('a', 'c', 'b')
('b', 'a', 'c')
('b', 'c', 'a')
('c', 'a', 'b')
('c', 'b', 'a')

In [4]:
from itertools import combinations

items = ['a', 'b', 'c']
for p in combinations(items, 2):
    print(p)

('a', 'b')
('a', 'c')
('b', 'c')

In [5]:
from itertools import combinations

items = ['a', 'b', 'c']
for p in combinations(items, 1):
    print(p)

('a',)
('b',)
('c',)

In [6]:
def fib(n):
    first, second = 0, 1
    while n:
        yield first
        first, second = second, first + second
        n -= 1

In [8]:
ret = fib(20)

In [10]:
list(ret)

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181]

In [18]:
import random

name = ['Rahul', 'Bhaskar', 'Aritra', 'Souvik', 'Rakesh']
designation = ['Tester', 'DevOps', 'Front End', 'Back End', 'Full Stack']

def people_generator():
    for i in range(1000000):
        person = {
            'id': i,
            'name': random.choice(name),
            'designation': random.choice(designation)
        }
        yield person
     
    
def people_list():
    people_list = []
    for i in range(1000000):
        person = {
            'id': i,
            'name': random.choice(name),
            'designation': random.choice(designation)
        }
        people_list.append(person)
    return people_list

In [19]:
import sys

In [21]:
pg = people_generator()
sys.getsizeof(pg)

112

In [23]:
pl = people_list()
sys.getsizeof(pl)

8697456

In [1]:
# custome f range function

def frange(start, stop, increment):
    x = start
    while x < stop:
        yield x
        x += increment

In [8]:
ret = frange(0, 10000, 0.5)
import sys
sys.getsizeof(ret)

112

In [6]:
sys.getsizeof([x for x in range(0, 20000)])

178016

In [15]:
# enumerate to track index and value

names = ['Rahul', 'Bhaskar', 'Aritra', 'Souvik', 'Rakesh']

for index, name in enumerate(names):
    print(f"{index + 1}.", name)

1. Rahul
2. Bhaskar
3. Aritra
4. Souvik
5. Rakesh

In [19]:
# Zip iterator

names = ['Rahul', 'Bhaskar', 'Aritra', 'Souvik', 'Rakesh']
zips = [101, 102, 103, 104, 105]
d = {}

for i, j in zip(zips, names):
    d[i] = j
    
print(d)

{101: 'Rahul', 102: 'Bhaskar', 103: 'Aritra', 104: 'Souvik', 105: 'Rakesh'}

In [20]:
# Zip longest iterator
from itertools import zip_longest

names = ['Rahul', 'Bhaskar', 'Aritra', 'Souvik', 'Rakesh']
zips = [101, 102, 103, 104, 105, 106, 107]
d = {}

for i, j in zip_longest(zips, names):
    d[i] = j
    
print(d)

{101: 'Rahul', 102: 'Bhaskar', 103: 'Aritra', 104: 'Souvik', 105: 'Rakesh', 106: None, 107: None}

In [25]:
a = [1, 2, 3]
b = ['w', 'x', 'y']
c = [10, 20, 30]

for i in zip(a, b, c):
    print(i)

(1, 'w', 10)
(2, 'x', 20)
(3, 'y', 30)

In [29]:
from itertools import chain

for x in chain(a, b, c):
    print(x)

1
2
3
w
x
y
10
20
30

In [32]:
from collections import Iterable

def flatten(items, ignore_types=(str, bytes)):
    for x in items:
        if isinstance(x, Iterable) and not isinstance(x, ignore_types):
            yield from flatten(x)
        else:
            yield x

items = [1, 2, [3, 4, [5, 6], 7], 8]

for x in flatten(items):
    print(x)

In [33]:
items = [1, 2, [3, 4, [5, 6], 7], 8]

for x in flatten(items): print(x)

1
2
3
4
5
6
7
8